<div [style.background-color]="product.isAvailable ? 'none' : '#DEDEDE' " class="panel panel-default">
    <div class="panel-heading">{{product.name | uppercase  }}</div>
    <div class="panel-body">
        <button class="heart" (click)="onLikeProduct()" [ngClass]="activeHeart ? 'activeHeart' : 'heart'"></button>
        <ul>
            <p>Price: {{product.price | currency}}</p>
            <p>Available: {{product.isAvailable }}</p>
        </ul>
        <button class="btn btn-primary" [disabled]="!product.isAvailable" (click)="onAddToCart()">Buy</button>
        <button class="btn" [disabled]="!product.isAvailable" (click)="onView()">
            Details
        </button>
        <button *ngIf='authService.isAdmin' class="btn btn-warning btn-sm" (click)="onEditProduct()">
            Edit
        </button>
    </div>
</div>