<div class='panel panel-default'>
    <div class='panel-heading'>Cart</div>
    <div class='panel-body'>
        <select [(ngModel)]="selectedSortOptions" multiple>
            <option *ngFor="let opt of sortOptions" [ngValue]="opt">{{opt}}</option>
        </select>
        <input type="checkbox" [(ngModel)]="isAsc"/> 
        <div *ngIf='!getProductsCount()'>
            Empty cart
        </div>
        <div>
            Products count: {{getProductsCount()}}
            <br>
            Total: {{getProductSummary()}}
        </div>
        <app-cart-item *ngFor='let product of products$ | async' [product]='product' 
            (deleteFromCart)='onDeleteFromCart($event)'
            (increaseProductCount)='onIncrease($event)'
            (decreaseProductCount)='onDecrease($event)'></app-cart-item>
        <button type="button" class="btn btn-primary" (click)="onGoBack()">Back
        </button>
    </div>

    <button type="button" class="btn btn-primary" (click)="onProcessOrder()">Process Order
    </button>
</div>