<div class='panel panel-default'>
    <div class='panel-heading'>Card</div>
    <div class='panel-body'>
        <select [(ngModel)]="selectedSortOptions" multiple>
            <option *ngFor="let opt of sortOptions" [ngValue]="opt">{{opt}}</option>
        </select>
        <input type="checkbox" [(ngModel)]="isAsc"/> 
        <div *ngIf='! (products.length > 0)'>
            Empty cart
        </div>
        <div>
            Products count: {{getProductsCount()}}
            <br>
            Total: {{getProductSummary()}}
        </div>
        <app-cart-item *ngFor='let product of products | orderBy: selectedSortOptions : isAsc' [product]='product ' (deleteFromCart)='onDeleteFromCart($event)'>
        </app-cart-item>

        <h2>Selected:</h2>
<ul>
    <li *ngFor="let selected of selectedSortOptions">{{selected}}</li>
</ul>

    </div>
</div>